<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head"></head>
<link rel="stylesheet" href="/css/posts.css">
<body>
<div class="root">
  <div class="container">
    <header th:replace="fragments/common :: header"></header>
    <section>
      <div class="placeholder-box" th:if="${posts.size() == 0}">
        Empty Post
      </div>
      <ul class="post-container" th:each="post : ${posts}">
        <li class="post-item card post">
          <a th:href="@{/post/{postId}(postId=${post.id})}">
            <div>
              <h1 th:text="${post.title}" class="post-title">post tile</h1>
              <p th:text="${post.contents}" class="post-contents"></p>
              <div class="date-wrapper">
                <span class="created-at" th:text="${post.beautifyDate()}">2018.04.29</span>
              </div>

            </div>
          </a>
        </li>
      </ul>
      <div class="page-index-bar">
        <ul class="index-list">
          <th:block th:each="index : ${pageIndexes}">
            <a th:href="@{/post?pageId={id}(id=${index-1})}">
              <span class="index" th:text="${index}"
                    th:classappend="${index-1==currentPage ? 'current-page' : ''}"
              >1</span>
            </a>
          </th:block>
        </ul>
      </div>
      
    </section>
    <footer th:replace="fragments/common :: footer"></footer>
  </div>
</div>
</body>
</html>